<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.UserMapper">

  <select id="getUserByLoginId" resultType="com.example.demo.vo.User">
    SELECT
      id,
      login_id AS loginId,
      login_pw AS loginPw,
      role,
      reg_date AS regDate
    FROM users
    WHERE login_id = #{loginId}
    LIMIT 1
  </select>

  <insert id="insertUser" parameterType="com.example.demo.vo.User"
          useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (login_id, login_pw, role)
    VALUES (#{loginId}, #{loginPw}, #{role})
  </insert>

</mapper>
